<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="head :: head"></head>
<body>
<footer th:fragment="footer" class="footer">
    <div class="container">

        <p>
            Built with all the love in the world by <a
                href="http://www.scala-solution.com.au">Scala Solution</a>.
        </p>
    </div>

    <div align="right">
        <div>
            <a href='?locale=en' th:href="@{'/?locale=en'}" th:text="#{locale.english}">English</a>
            <a href='?locale=es' th:href="@{'/?locale=es'}" th:text="#{locale.spanish}">Spanish</a>
        </div>

        <div>&nbsp;</div>

        <div th:text="#{site.footer}">Footer Info</div>
    </div>
</footer>
</body>
</html>
