<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:include="head :: head"></head>
<body>
<footer th:fragment="footer" class="footer">
    <div class="container">

        <p>
            Built with all the love in the world by <a
                href="http://www.scala-solution.com.au">Scala Solution</a>.
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/?lang=en">EN</a><a href="/?lang=zh">CN</a>
        </p>
    </div>
</footer>
</body>
</html>
